# Fichiers binaires et objets
*.o
*.a
*.so
*.out
*.exe

# Répertoires de compilation
obj/
build/
push_swap_visualizer/
push_swap_tester/

# Éditeurs et IDE
.vscode/
.idea/
*.swp
*~

push_swap
*.ini
*checker*