# Fichiers binaires et objets
*.o
*.a
*.so
*.out
*.exe

# Répertoires de compilation
obj/
build/

# Éditeurs et IDE
.vscode/
.idea/
*.swp
*~

# Logs et autres fichiers temporaires
*.log
*.tmp
*.bak
*.dSYM/

# Résultats des tests
*.gcda
*.gcno
*.gcov

# Fichiers de configuration locaux
config.h
